@font-face {
	font-family: "Road Rage";
	src: url("../fontes/RoadRage.woff");
}

h1 {
	font-family: "Road Rage";
	font-size: 2.5em;
	letter-spacing: 5px;
	border: 3px solid black;
	padding: 10px 10px 10px 20px;
	display: inline-block;
	color: #000;
	background-color: #f7cc18;
	margin: 0 auto;
}