/*Barra de navegação lateral*/
/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul a {
	width: 200px;
	height: 40px;
	display: block;
	line-height: 40px;
	text-indent: 40px;
	text-decoration: none;
	color: #000;
	background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

ul a:hover{
	background-position: right bottom;
	background-color: #f99200;
	color: #FFF;
}

#home #navegacao .home a, 
#sobre #navegacao .sobre a, 
#servicos #navegacao .servicos a, 
#noticias #navegacao .noticias a,
#contato #navegacao .contato a {
	background-position: right bottom;
	background-color: #f99200;
	color: #FFF;
}*/


/*Barra de navegação horizontal*/

ul#navegacao {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul#navegacao li {
	float: left;
}

ul#navegacao a {
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) repeat-y left top;
}

ul#navegacao .primeiro a {
	background: none;
}

ul#navegacao a:hover {
	color: #085662;
	background: #44cade;
}