/***************
Barra de navegação lateral*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul a {
	border: 1px solid red;
	width: 200px;
	height: 40px;
	display: block;
	line-height: 40px;
	text-indent: 40px;
	text-decoration: none;
	color: #000;
	background: url(imagens/menu.png) no-repeat left bottom;
}

ul a:hover {
	background-position: right bottom;
	color: #FFF;
}